# Dependencies
node_modules/

# Build output
build/
dist/
.out/
.cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Environment variables
.env
.env.*
!.env.example

# Editor directories and files
.vscode/
.idea/
.DS_Store

# Tooling
.wrangler/
